body {
    background-color: darkslategrey;
}
h1 {
    color: red;
}

h2 {
    color: blue;
}

h3 {
    color: red;   
}

h4 {
    color: blue;
}

h5 {
    color: red;
}

h6 {
    color: blue;
}


p {
    color: blue;
}

button {
    color: yellow;
    background-color: blueviolet;
}